.App {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  min-height: 100vh;
}

.search-form {
  min-height: 10vh;
  display:flex;
  justify-content : center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border:none;
  padding:10px;
  border-right : 3px solid #f68084 ;
} 

.search-button {
  border:none;
  background: white;
  padding: 10px 10px;
  color: #f68084;
}

.recipes {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

